.ant-btn.custom-button {
  height: auto;
  padding: 5px 20px;
  background-color: #00c181 !important;
  border: none;
  border-radius: 5px;
  font-family: $ubuntu-font;
  font-size: 14px;
  color: $white !important;
  transition: all 0.3s;

  &:hover {
    opacity: 0.8;
  }

  &.link {
    background: transparent !important;
    border: none;
    color: #1890ff !important;
    box-shadow: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &.default {
    background: $white !important;
    border: 1px solid #d7d7d7;
    color: $greyish-brown !important;
  }

  &.green {
    background: $green-blue !important;
  }

  &.danger {
    background: $burnt-orange !important;
  }

  // modifiers

  &.medium {
    padding: 12px 29px;
  }

  &.wide {
    width: 100% !important;
  }

  &.big {
    padding: 15px 60px;
  }
}